<html>
<body>
<script type="text/javascript">
function showCreateForm() {
	document.authform.action="/create";
	var submitButton = document.getElementById("submit_button");
	submitButton.value="Create Account";
}
function showLoginForm() {
	document.authform.action="/login";
	var submitButton = document.getElementById("submit_button");
	submitButton.value="Login";
}
</script>
<h1>Welcome!</h1>
<a href="#" id="create" onClick="showCreateForm();">Create New Account</a>
<a href="#" id="login" onClick="showLoginForm();">Login</a>
<form action="/create" method="post" name="authform">
User Name: <input type="text" name="uname" /><br />
Password: <input type="text" name="pwd" /><br />
Note that for the purposes of this example, this UI does not hide the password. That way we can all see the values we're trying. If this were a real application, the password field would be declared as type "password" so that passwords would show as *** when entered.
<input id="submit_button" type="submit" value="Create Account" />


</form>
</body>
</html>
