<html>
<head>
	<style type="text/css">
	body {
	  color : #333333;
	  font-family : Verdana, Arial, Helvetica, sans-serif;

	  padding: 10px;
	  margin: 0;
	  text-align: center;
	}

	ul{
	 list-style-type: square;
	}

	.leftalign {
		text-align: left;
	}

	.rightalign {
		text-align: right;
	}
	.center {
		text-align: center;
	}

	.padtop {
		padding-top: 10px;
	}

	.padleft {
		padding-left: 10px;
	}

	.padright {
		padding-right: 10px;
	}
	
	.tab {
		padding: 10px 20px 10px 20px;
		float: left;
		color: white;
		-webkit-border-radius: 5px 5px 0px 0px;
		-moz-border-radius: 5px 5px 0px 0px;
	}
	
	#authentication_info {
		float: none;
		clear: both;
		padding: 20px 10px 20px 10px;
	}
	
	.label {
		color: white;
		font-size: 110%;
		line-height: 110%;
		letter-spacing: 1px;
		font-weight: bold;		
	}
	
	.btn {
		color: #333333;
		font-size: 110%;
		line-height: 110%;		
		letter-spacing: 1px;
		font-weight: bold;		
	}
	
	.inactive {
		background-color: #dddddd;
		color: inherit;
	}
	
	.login {
		background-color: #333366;
	}
	
	.create {
		background-color: #336633;		
	}
	
	.container {
		width: 400px;
		margin: auto;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	}

	.rtop, .rbottom {
		display: block;
	}

	.rtop *, .rbottom * {
		display: block;
		height: 1px;
		overflow: hidden;
	}
	
	.bggreen {
		background-color:#666666;
	}

	.bgwhite {
		background-color: #FFFFFF;
	}

	.bggray {
		background-color : #999999;
	}
	
	.big {
		font-size: 160%;
		line-height: 150%;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.green {
		color: #339933;
	}

	.red {
		color: #FF0000;
	}

	.left {
		position: relative;
		float: left;
		display: inline;
		width: 250px;
	}

	.right {
		position: relative; 
		display: inline;
		float: right;
		width: 250px;
	}
	
	</style>
</head>
<body class="bggreen">
	<h1>Simple Authentication Example</h1>
	<div class="bgwhite container">
		<%= partial @template %>
	</div>
</body>
</html>