<html>
<head>
	<style type="text/css">
	body {
	  color : #333333;
	  font-family : Verdana, Arial, Helvetica, sans-serif;

	  padding: 10px;
	  margin: 0;
	  text-align: center;
	}

	ul{
	 list-style-type: square;
	}

	.leftalign {
		text-align: left;
	}

	.rightalign {
		text-align: right;
	}
	.center {
		text-align: center;
	}

	.padtop {
		padding-top: 10px;
	}

	.padleft {
		padding-left: 10px;
	}

	.padright {
		padding-right: 10px;
	}
	
	.tab {
		padding: 10px 20px 10px 20px;
		float: left;
		color: white;
	}
	
	#authentication_info {
		float: none;
		clear: both;
		padding: 20px 10px 20px 10px;
	}
	
	.label {
		color: white;
		font-size: 110%;
		line-height: 110%;
		letter-spacing: 1px;
		font-weight: bold;		
	}
	
	.btn {
		color: #333333;
		font-size: 110%;
		line-height: 110%;		
		letter-spacing: 1px;
		font-weight: bold;		
	}
	
	.inactive {
		background-color: #FFFFFF;
		color: inherit;
	}
	
	.login {
		background-color: #333366;
	}
	
	.create {
		background-color: #336633;		
	}
	
	.container {
		width: 400px;
		margin: auto;
	}

	.rtop, .rbottom {
		display: block;
	}

	.rtop *, .rbottom * {
		display: block;
		height: 1px;
		overflow: hidden;
	}
	
	.bggreen {
		background-color:#666666;
	}

	.bgwhite {
		background-color: #FFFFFF;
	}

	.bggray {
		background-color : #999999;
	}
	
	.big {
		font-size: 160%;
		line-height: 150%;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.green {
		color: #339933;
	}

	.red {
		color: #FF0000;
	}

	.left {
		position: relative;
		float: left;
		display: inline;
		width: 250px;
	}

	.right {
		position: relative; 
		display: inline;
		float: right;
		width: 250px;
	}

	.r1{margin: 0 5px}
	.r2{margin: 0 3px}
	.r3{margin: 0 2px}
	.r4{margin: 0 1px; height: 2px}

	.lr1{margin: 0 0 0 5px}
	.lr2{margin: 0 0 0 3px}
	.lr3{margin: 0 0 0 2px}
	.lr4{margin: 0 0 0 1px; height: 2px}

	.rr1{margin: 0 5px 0 0}
	.rr2{margin: 0 3px 0 0}
	.rr3{margin: 0 2px 0 0}
	.rr4{margin: 0 1px 0 0; height: 2px}
	
	</style>
</head>
<body class="bggreen">
	<h1>Simple Authentication Example</h1>
	<div class="bgwhite container">
			<b class="rtop bggreen">
				<b class="r1 bgwhite"></b> 
				<b class="r2 bgwhite"></b> 
				<b class="r3 bgwhite"></b> 
				<b class="r4 bgwhite"></b>
			</b>
			<%= partial @template %>

			<b class="rbottom bggreen">
				<b class="r4 bgwhite"></b> 
				<b class="r3 bgwhite"></b> 
				<b class="r2 bgwhite"></b> 
				<b class="r1 bgwhite"></b>
			</b>
	</div>
</body>
</html>